* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

/* Utilities */
input {
  width: 100%;
  border: none;
  font-weight: 700;
  padding: 5px 0;
}

input:focus {
  border: none;
  outline: none;
}

/* Main CSS */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  padding: 0 100px;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.container {
  max-height: 500px;
  width: 100%;
  padding: 20px 20px !important;
  margin: 20px 0 20px 0;
  position: relative;
}

.demo-btn {
  margin-top: 20px !important;
}

.result {
  height: 160px;
  width: 100%;
}

.result-text {
  height: 100%;
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
  font-weight: 700;
}

.video {
  position: absolute;
  z-index: 100;
  width: initial;
  height: inherit;
  display: none;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
}

.video>iframe {
  z-index: 100;
}

footer {
  flex-shrink: 0;
  margin-bottom: 20px;
  font-weight: 700;
}